body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #E6E6E6;
}

.onglets {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    gap: 40px;
  
}

.onglet {
    display: flex;
    width: 85%; /* La carte occupe toute la largeur disponible */
    max-width: 400px; /* Limite la largeur des cartes sur les écrans larges */
    border-radius: 2px;
    background-color: #E6E6E6;
    overflow: hidden;
    transform: scale(1); /* Échelle initiale */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none; /* Supprime le soulignement des liens */
}

.onglet:hover {
    transform: scale(1.05); /* Agrandissement au survol */
}

/* Images dans les onglets */
.onglet img {
    width: 100%;
    height: auto; /* Garde les proportions de l'image */
    display: block; /* Supprime les espaces blancs autour de l'image */
}

/* Ajout de responsive design (mobile-first) */
@media (max-width: 600px) {
    .onglets {
        flex-direction: row;
    }
}
