body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.onglets {
    padding: 50px 0;
    display: flex;
    height: 85%;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: center;
    gap: 40px;
}

.onglet {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
    text-align: center;


    max-width: 400px; /* Limite la largeur des cartes sur les écrans larges */
    border: solid black;
    border-radius: 20px;
    
    overflow: hidden;
    transform: scale(1); /* Échelle initiale */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none; /* Supprime le soulignement des liens */
}

.onglet:hover {
    transform: scale(1.05); /* Agrandissement au survol */
}

/* Titre */
.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Contenu : photo et liste */
figure {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/* Photo */
.photo {
    width: 100px; /* Taille de l'image */
    height: 100px;
    border-radius: 5px;
    object-fit: cover; /* Maintient les proportions de l'image */
    border: 1px solid #ddd;
}

/* Liste des ingrédients */
.ingredients {
    list-style: disc;
    padding-left: 20px;
    text-align: left;
    width: 50%;
}

/* Description */
.description {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
    line-height: 1.4;
}

