:root {
    --primary: #E6E6E6;
    --primary-50: rgb(230, 230, 230, 0.5);
    --secondary: #28373E;
    --secondary-25: rgb(40, 55, 62, 0.25);
    --tertiary: #DA5825;
    --tertiary-25: rgb(218, 88, 37, 0.25);
}

/* Police d'écriture:
font-family: "Playfair Display", serif;
font-family: "Lato", serif; */

/* Général */
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    border: none;
}